.header {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    height: 50px;
    padding: 5px 10px;
    background: #6c4d3b;
    color: white;
}
.logo {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: bold;
}
.search {
    flex-grow: 1;
    text-align: center;

    input {
        width: 100%;
        max-width: 500px;
        height: 100%;
        padding: 0.5rem;
        background: #eae0d5;
        border: 1px solid #cabdb2;
        border-radius: 5px;
        color: #3e342c;
        font-size: 1rem;
    }
}

.main {
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 20px;
    padding-top: 50px;
}

.section-title {
    margin: 0;
    margin-top: 2rem;
    padding-left: 0.5rem;
    border-left: 4px solid #8b5e3c;
    font-size: 1.1rem;
    color: #3e342c;
}

// Мобильные стили
@media (max-width: 600px) {
    .logo {
        font-size: 1.2rem;
    }
}